.contacts{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #1f1f20;
}

.contactsBlock{
	width: 460px;
	height: 400px;
	text-align: center;
	padding: 0 15px;
}

.contactsFormItems{
	list-style-type:none;
	padding: 0;
}

.contactsFormItem{
	margin: 10px 0;
}

.contactsFormItem input, textarea  {
	display: inline-block;
	width: 100%;
	padding: 15px 10px;
	border: 1px solid #4a4a4a;
	background-color :#252527;
	border-radius: 5px;
	transition: .5s;
}

.formHover:hover  {
	border-color: gold;
}

.contactsFormItem textarea{
	height: 200px;
}

.contactsTitle{
	text-align: center;
	color: #ffffff;
	margin-bottom: 20px;;
}

.contactsFormBtn{
	display: inline-block;
	padding: 15px 10px;
	border: none;
	background-color: rgb(43, 50, 51);
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	width: 180px;
	border-radius: 15px;
	transition: .5s;
}

.contactsFormBtn:hover{
	background-color: rgb(22, 24, 22);
	color: gold;
}