.skills{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #111112;
	color: #ffffff;
}
.skillsBlock{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1200px;
	border: 1px solid black;
	padding: 0 15px;	
}

.skillsTitle{
 padding: 7px;
}

.skillsDescriptions{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.skill{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 10px;
	padding: 5px;	
	flex: 1;
}

.skill img{
	width: 100px;
} 

.skillsImg{

}

.skill{
	text-align: center;
}

@media (max-width: 600px){
	.skillsDescriptions{
		flex-direction: column;
	}	
}
