.skills{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #111112;
	padding: 100px 0;	
}
.container{
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 1200px;
	padding: 0 15px;	
}

.skillsDescriptions{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	width: 100%;
}

@media (max-width: 800px){
	.skillsDescriptions{
		flex-direction: column;
	}	
}

