.header{
	height: 50px;
	background-color: rgb(112, 112, 209);
	display: flex;
	justify-content: center;
}

.container{
	border: 1px solid;
	width: 1200px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

