.footer{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 300px;
	background-color: #252527;
	padding: 100px 0;	
}

.footerBlock{
	width: 1200px;
	padding: 0 15px;	
}

.footerBlock a{
	color: #ffffff;
	font-weight: 600;
	text-decoration: none;
}

.footerLogo{
	font-size: 20px;
	text-align: center;
}

.footerSocial{
	display: flex;
	justify-content: center;
	list-style:none;
	padding: 0;
}

.footerLink{
	margin: 5px 20px;
}

@media (max-width: 480px){
	.footerSocial{
		flex-direction: column;
		align-items: center;
	}	
}