.main{
	background-color: #1f1f20;
	display: flex;
	justify-content: center;
	padding: 100px 0;
	min-height: 100vh;	
}


.container{
	display: flex;
	justify-content: space-around;
	align-items: center;	
	width: 1200px;
	padding: 0 15px;	
}

.greeting span{
	display: block;
}

.greeting span:nth-child(1){
	font-size: 16px;
	font-weight: 800;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;			
	font-weight: 700;
	font-stretch: normal;
	line-height: 1.2;
	letter-spacing: 3px;
	display: inline;
	position: relative;
	z-index: 1;
}

.greeting span:nth-child(2) span:before{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 100%;
	background: #5769bd;
	z-index: -1;
}

.greeting h1{
	font-size: 26px;
}

.blockPhoto{
	height: 400px;
	width: 300px;
	background-color: gray;
	margin-top: 50px;
	position: relative;
	z-index: 1;
	transition: .5s;
}

.blockPhoto:hover {
	transform: scale(1.1);
}

.photoImage{
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 1;
}




.photoImage:before{
	content: '';
	position: absolute;
	left: 0;	
	bottom: 0;
	right: 0;
	top: 0;
	border: 5px solid #5769bd;
	transform: scale(1.1) translate(10%, 0px);
	z-index: -1;
}

@media (max-width: 1140px) {
	.blockPhoto{
		height: 350px;
		width: 250px;
	}
	.greeting span:nth-child(2),
	.greeting span:nth-child(2) span {
		font-size: 40px;			
	}
}

@media (max-width: 950px) {
	.greeting span:nth-child(2) span {
		display: block;			
	}
}

@media (max-width: 750px) {
	.container{
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}
}

@media (max-width: 450px) {
	.blockPhoto{
		height: 250px;
		width: 200px;
	}
	
	.greeting h1{
		font-size: 20px;
	}

	.greeting span:nth-child(2),
	.greeting span:nth-child(2) span {
		font-size: 30px;			
	}
}




