.main{
	height: 100vh;
	background-color: rgb(79, 149, 158);
	display: flex;
	justify-content: center;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;	
	border: 1px solid;
	width: 1200px;
	padding: 0 15px;	
}

.greeting{

}

.photo{
	height: 300px;
	width: 200px;
	background-color: gray;
}

@media (max-width: 600px) {
	.container{
		flex-direction: column;
		justify-content: center;
	}
	.greeting{
		text-align: center;
		margin-bottom: 20px;
	}	
}
