*{
	box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

p{
	margin: 0;
}

.btn{
	display: inline-block;
	padding: 15px 10px;
	border: none;
	background-color: rgb(43, 50, 51);
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	width: 180px;
	border-radius: 15px;
	transition: .5s;	
}

.particles{
	position: fixed !important;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	opacity: 0.4;
}


