.projects{
	min-height: 100vh;
	background-color: #222121;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 100px 0;
	position: relative;
}
.projectsBlock{
	width: 1200px;
	padding: 0 15px;
	display: flex;
	flex-direction: column;
	align-items: center;	
}

.projectsWorks{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}



@media (max-width: 870px){
	.projectsWorks{
		flex-direction: column;
		align-items: center;
	}
}

